<?xml version="1.0"?>
<!--
/**
 * Aydus_AttributeProducts config
 *
 * @category   Aydus
 * @package    Aydus_AttributeProducts
 * @author     Aydus <davidt@aydus.com>
 */
-->
<config>
    <modules>
        <Aydus_AttributeProducts>
            <version>0.9.6</version>
        </Aydus_AttributeProducts>
    </modules>
    <phpunit>
        <suite>
            <modules>
                <Aydus_AttributeProducts />
            </modules>
        </suite>
    </phpunit>  
    <frontend>      
    </frontend>    
    <global> 
        <blocks>
            <aydus_attributeproducts>
                <class>Aydus_AttributeProducts_Block</class>
            </aydus_attributeproducts>        
        </blocks>             
        <helpers>
            <aydus_attributeproducts>
                <class>Aydus_AttributeProducts_Helper</class>
            </aydus_attributeproducts>        
            <attributeproducts>
                <class>Aydus_AttributeProducts_Helper</class>
            </attributeproducts>        
        </helpers> 
        <models>
            <aydus_attributeproducts>
                <class>Aydus_AttributeProducts_Model</class>
            </aydus_attributeproducts>        
        </models>              
    </global>     
    <default>
    	<catalog><aydus_attributeproducts><version>0.9.6</version></aydus_attributeproducts></catalog>
    </default>    
</config>